.idea
projectFilesBackup
extension.zip
dist
node_modules

/.vs/web-scraper-chrome-extension/v15/.suo
/.vs/web-scraper-chrome-extension/v15
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
