<div class="modal fade confirm-action-model" xmlns="http://www.w3.org/1999/html">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title"></h4>
				<h5
					class="modal-child-message"
					data-i18n="modal_confirm_action_child_delete"
					hidden="true"
				></h5>
			</div>
			<div class="modal-body">
				<button id="cancel" data-i18n="modal_confirm_action_cancel"></button>
				<button
					id="submit"
					class="btn btn-primary btn-xs"
					data-i18n="modal_confirm_action_submit"
				></button>
			</div>
		</div>
	</div>
</div>
