<div class="modal fade" id="confirm-action-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4
					class="modal-title"
					id="modal-title"
					data-i18n="modal_confirm_action_title_{{action}}"
				></h4>
				<h5
					id="modal-message"
					data-i18n="modal_confirm_action_message_{{action}}"
					hidden
				></h5>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-default"
					id="modal-cancel"
					data-i18n="modal_confirm_action_cancel_{{action}}"
					data-dismiss="modal"
				></button>
				<button
					class="btn btn-primary"
					id="modal-submit"
					data-i18n="modal_confirm_action_submit_{{action}}"
				></button>
			</div>
		</div>
	</div>
</div>
