<div class="modal fade" role="form" id="confirm-action-modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4
					class="modal-title"
					id="modal-title"
					data-i18n="modal_confirm_action_title_{{action}}"
				></h4>
				<h5
					id="modal-message"
					data-i18n="modal_confirm_action_message_{{action}}"
					style="display: none;"
				></h5>
				<form class="form-group">
					<input
						type="text"
						class="form-control"
						id="modal_confirm_action_input_{{action}}"
						name="modal_confirm_action_input_{{action}}"
						placeholder="modal_confirm_action_input_{{action}}"
						style="display: none;"
					/>
				</form>
			</div>
			<div class="modal-footer">
				<button
					class="btn btn-default"
					id="modal-cancel"
					data-i18n="modal_confirm_action_cancel_{{action}}"
					data-dismiss="modal"
				></button>
				<button
					class="btn btn-primary {{action}}_submit"
					id="modal-submit"
					data-i18n="modal_confirm_action_submit_{{action}}"
				></button>
			</div>
		</div>
	</div>
</div>
