<div class="panel panel-data">
	<div class="panel-heading" id="heading-{{id}}">
		<h2 class="mb-0 panel-title">
			<button
				class="btn btn-link"
				type="button"
				data-toggle="collapse"
				data-target="#collapse-{{id}}"
				aria-expanded="true"
				aria-controls="collapse-{{id}}"
			>
				{{url}}
			</button>
		</h2>
	</div>
	<div id="collapse-{{id}}" class="panel-collapse collapse" aria-labelledby="heading-{{id}}">
		<div class="panel-body">
			<pre id="json-{{id}}"></pre>
		</div>
	</div>
</div>
