<div id="selector-tree">
	<ol class="breadcrumb">
		{{#parentSelectors}}
		<li><a value="{{uuid}}">{{id}}</a></li>
		{{/parentSelectors}}
	</ol>
	<table class="table table-bordered table-condensed table-hover">
		<thead>
			<tr>
				<th data-i18n="selectorList_uuid"></th>
				<th data-i18n="selectorList_id"></th>
				<th data-i18n="selectorList_selector"></th>
				<th style="width: 140px" data-i18n="selectorList_type"></th>
				<th style="width: 105px" data-i18n="selectorList_multiple"></th>
				<th data-i18n="selectorList_parent_selector"></th>
				<th style="width: 200px" data-i18n="selectorList_actions"></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<button
		action="add-selector"
		type="button"
		class="btn btn-primary btn-xs"
		data-i18n="selectorList_add_selector_button"
	></button>
</div>
