<div id="console"></div>

<h2 data-i18n="data_export_title"></h2>
<br />

<label for="delimiter" data-i18n="data_export_delimiter_field"></label>
<input id="delimiter" type="text" required value="," />
<br />

<label for="newline" data-i18n="data_export_newline_checker"></label>
<input id="newline" type="checkbox" required checked />
<br />

<label for="utf-bom" data-i18n="data_export_utf_bom_checker"></label>
<input id="utf-bom" type="checkbox" required checked />
<br />

<button id="generate-csv" data-i18n="data_export_generate_csv_buttom"></button>
<br />
<br />

<p class="result" data-i18n="data_export_waiting">
	<span class="download-button" href="#"><a data-i18n="data_export_download_button"></a></span>
</p>
