<div id="console"></div>

<h2 data-i18n="data-export-title"></h2>
<br />

<label for="delimiter" data-i18n="data-export-delimiter-field"></label>
<input id="delimiter" type="text" required value="," />
<br />

<label for="newline" data-i18n="data-export-newline-checker"></label>
<input id="newline" type="checkbox" required checked />
<br />

<label for="utf-bom" data-i18n="data-export-utf-bom-checker"></label>
<input id="utf-bom" type="checkbox" required checked />
<br />

<button id="generate-csv" data-i18n="data-export-generate-csv-buttom"></button>
<br />
<br />

<p class="result" data-i18n="data-export-waiting">
	<span class="download-button" href="#"><a data-i18n="data-export-download-button"></a></span>
</p>
