<div id="edit-sitemap">
	<form class="form-horizontal" role="form" id="edit-sitemap-metadata-form">
		<div class="form-group">
			<label
				for="edit_sitemap_id"
				class="col-lg-1 control-label"
				data-i18n="sitemap_edit_metadata_edit_sitemap_id"
			></label>

			<div class="col-lg-10">
				<input
					type="text"
					class="form-control"
					name="_id"
					id="edit_sitemap_id"
					placeholder="sitemap_edit_metadata_sitemap_name_placeholder"
					value="{{_id}}"
				/>
			</div>
		</div>
		<div class="form-group start-url-block">
			<label
				class="col-lg-1 control-label"
				data-i18n="sitemap_edit_metadata_start_url"
			></label>
			<div class="col-lg-10">
				<div class="input-group">
					<textarea
						rows="5"
						cols="100"
						class="form-control input-start-url"
						name="startUrls"
						placeholder="sitemap_edit_metadata_url_list_placeholder"
					>
{{startUrls}}</textarea
					>
				</div>
			</div>
			<div class="col-lg-10 col-lg-offset-1" data-i18n="url_patterns_hints"></div>
		</div>
		<div class="form-group model">
			<label
				class="col-lg-1 control-label"
				for="model"
				data-i18n="sitemap_edit_metadata_sitemap_model"
			></label>
			<div class="col-lg-10">
				<div class="input-group">
					<textarea
						rows="20"
						cols="100"
						class="form-control input-model"
						id="model"
						name="model"
						placeholder="sitemap_edit_metadata_sitemap_model"
					>
{{model}}</textarea
					>
				</div>
				<p data-i18n="sitemap_model_hints"></p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-lg-offset-1 col-lg-10">
				<button
					type="submit"
					class="btn btn-primary"
					id="submit-edit-sitemap"
					data-i18n="sitemap_edit_metadata_submit_model"
				></button>
			</div>
		</div>
	</form>
</div>
