<tr>
	<td class="id">{{_id}}</td>
	<td>{{#startUrls}} {{.}}, {{/startUrls}}</td>
	<td>
		<div class="actions-block">
			<button
				action="browse-sitemap-data"
				type="button"
				class="btn btn-primary btn-xs"
				data-i18n="browse_sitemap_data"
			></button>
			<button
				action="delete-sitemap"
				type="button"
				class="btn btn-primary btn-xs"
				data-i18n="delete_sitemap"
			></button>
			<button
				action="create-copy-sitemap"
				type="button"
				class="btn btn-primary btn-xs"
				data-i18n="create_copy_sitemap"
			></button>
		</div>
	</td>
</tr>
