<!-- Navigation -->

<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a id="sitemaps-nav-button" data-i18n="sitemaps_nav_button"></a></li>
		<li>
			<a id="sitemap-nav-button" class="dropdown-toggle disabled" data-toggle="dropdown">
				<span data-i18n="sitemap_nav_button"></span>
				<span id="navbar-active-sitemap-id"></span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a
						id="sitemap-selector-list-nav-button"
						data-i18n="sitemap_selector_list_nav_button"
					></a>
				</li>
				<li>
					<a
						id="sitemap-selector-graph-nav-button"
						data-i18n="sitemap_selector_graph_nav_button"
					></a>
				</li>
				<li>
					<a
						id="sitemap-edit-metadata-nav-button"
						data-i18n="sitemap_edit_metadata_nav_button"
					></a>
				</li>
				<li>
					<a id="sitemap-scrape-nav-button" data-i18n="sitemap_scrape_nav_button"></a>
				</li>
				<li>
					<a id="sitemap-browse-nav-button" data-i18n="sitemap_browse_nav_button"></a>
				</li>
				<li>
					<a id="sitemap-export-nav-button" data-i18n="sitemap_export_nav_button"></a>
				</li>
				<li>
					<a
						id="sitemap-export-data-nav-button"
						data-i18n="sitemap_export_data_nav_button"
					></a>
				</li>
			</ul>
		</li>
		<li>
			<a id="create-sitemap-nav-button" class="dropdown-toggle" data-toggle="dropdown">
				<span data-i18n="create_sitemap_nav_button"></span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li>
					<a
						id="create-sitemap-create-nav-button"
						data-i18n="create_sitemap_create_nav_button"
					></a>
				</li>
				<li>
					<a
						id="create-sitemap-import-nav-button"
						data-i18n="create_sitemap_import_nav_button"
					></a>
				</li>
			</ul>
		</li>
	</ul>
</nav>

<div id="messages"></div>
<div id="viewport"></div>
