<!-- Navigation -->

<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a id="sitemaps-nav-button" data-i18n="sitemaps-nav-button"></a></li>
		<li>
			<a id="sitemap-nav-button" class="dropdown-toggle disabled" data-toggle="dropdown">
				<span data-i18n="sitemap-nav-button"></span>
				<span id="navbar-active-sitemap-id"></span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a id="sitemap-selector-list-nav-button" data-i18n="sitemap-selector-list-nav-button"></a></li>
				<li><a id="sitemap-selector-graph-nav-button" data-i18n="sitemap-selector-graph-nav-button"></a></li>
				<li><a id="sitemap-edit-metadata-nav-button" data-i18n="sitemap-edit-metadata-nav-button"></a></li>
				<li><a id="sitemap-scrape-nav-button" data-i18n="sitemap-scrape-nav-button"></a></li>
				<li><a id="sitemap-browse-nav-button" data-i18n="sitemap-browse-nav-button"></a></li>
				<li><a id="sitemap-export-nav-button" data-i18n="sitemap-export-nav-button"></a></li>
				<li><a id="sitemap-export-data-csv-nav-button" data-i18n="sitemap-export-data-csv-nav-button"></a></li>
			</ul>
		</li>
		<li>
			<a id="create-sitemap-nav-button" class="dropdown-toggle" data-toggle="dropdown">
				<span data-i18n="create-sitemap-nav-button"></span>
				<b class="caret"></b>
			</a>
			<ul class="dropdown-menu">
				<li><a id="create-sitemap-create-nav-button" data-i18n="create-sitemap-create-nav-button"></a></li>
				<li><a id="create-sitemap-import-nav-button" data-i18n="create-sitemap-import-nav-button"></a></li>
			</ul>
		</li>
	</ul>
</nav>

<div id="messages"></div>
<div id="viewport"></div>
