/*body > form, body > div {*/
/*display:none;*/
/*}*/

a,
tbody tr {
	cursor: pointer;
}

.selector-list-tpl,
.sitemap-list-tpl {
	display: none;
}

/**
 * Compact elements
 */
.navbar-nav > li > a {
	padding-top: 3px;
	padding-bottom: 3px;
}

.navbar-text {
	margin-top: 4px;
	margin-bottom: 4px;
	padding-right: 3px;
}

.navbar {
	min-height: 26px;
	margin-bottom: 6px;
}

.table-condensed tbody > tr > td {
	padding: 1px 5px;
}

body {
	font-size: 12px;
}

form .form-control {
	font-size: 12px;
	padding: 3px 12px;
	height: 25px;
}

textarea.form-control {
	height: auto;
}

#sitemapFiles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}

form .btn {
	font-size: 12px;
	padding: 3px 12px;
}

form .form-group {
	margin-bottom: 5px;
}

form select[multiple],
select[size] {
	height: auto;
}

#selector-graph .node circle {
	cursor: pointer;
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1px;
}

#selector-graph .node text {
	font-size: 11px;
}

#selector-graph path.link {
	fill: none;
	stroke: #ccc;
	stroke-width: 1px;
}

.data-preview-modal .modal-dialog {
	width: auto;
}

.data-preview-modal .modal-body {
	overflow-y: scroll;
}

.data-preview-modal tbody tr {
	cursor: initial;
}

.input-group[class*='col-'] {
	padding-right: 15px;
	padding-left: 15px;
}

.form-inline .form-control {
	width: 100%;
}

.renderjson a {
	color: green;
	text-decoration: none;
}

.renderjson .disclosure {
	color: darkred;
	font-size: 150%;
}

.renderjson .syntax {
	color: black;
}

.renderjson .string {
	color: green;
}

.renderjson .key {
	color: darkred;
}

.renderjson .keyword {
	color: yellow;
}

.renderjson .object.syntax {
	color: black;
}

.renderjson .array.syntax {
	color: black;
}

.search-form {
	margin-bottom: 1em;
}

.highlight {
	background-color: #ffeb3b;
}

.panel-data > .panel-heading {
	background-color: #337ab7;
	border-color: #337ab7;
}

.panel-data > .panel-heading .btn {
	color: #fff;
}

.panel-data > .panel-heading .btn:hover {
	color: #fff;
}

#removeHtml,
#trimText {
	margin-left: auto;
}

.actions-block {
	display: flex;
}

.actions-block > button:not(:last-of-type) {
	margin-right: 5px;
}

.form-control::placeholder {
	font-style: normal;
	font-weight: normal;
}
.searchbar {
	margin: 5px;
	&::placeholder {
		color: grey;
		font-style: italic;
	}
}
mark {
	margin: 0;
	padding: 0;
}
