#webpage {
	height:400px;
	border-radius: 5px;
	border:3px #ccc solid;
	margin:10px;
	overflow-y:scroll;
}

#webpage {
	font-size: 14px;
}

#webpage .navbar-nav > li > a {
	padding-top: 15px;
	padding-bottom: 15px;
}

.productImage {
    background-image: url("../../docs/images/chrome-store-logo.png");
    height: 375px;
}